name: "Sample Workflow"
on: 
    push: 
        branches: 
        - main
        - master
jobs: 
    testing_job:
        runs-on: ubuntu-latest
        steps: 
            - name: "Welcome Step"
              run: |
                echo "Welcome to this step"
                ls -a

            - name: "Checkout from github directory"
              uses: actions/checkout@v4



    # build docker image

            - name: build docker image
              run: sudo docker build -t pratproject .


    #login into docker hub

            

